openapi: 3.0.0

info:
  title: Пример API для работы с пользователями
  description: API для создания, получения, обновления и удаления пользователей.
  version: 1.0.0

security:
  - api_key: []

servers:
  - url: https://api.documentat.io/api/prod
    description: Основной сервер
  - url: https://api.documentat.io/api/dev
    description: Тестовый сервер

paths:
  /users:
    get:
      summary: Получить список всех пользователей
      description: Возвращает список всех пользователей в виде массива
      operationId: usersGET
      tags:
        - users
      parameters:
        - name: limit
          in: query
          required: false
          description: Максимальное количество элементов на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          $ref: '#/components/responses/UserListSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      summary: Создать нового пользователя
      description: Создает нового пользователя. Новому пользователю автоматически присваивается ID 
      operationId: usersPOST
      tags:
        - users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '201':
          $ref: '#/components/responses/UserCreationSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

  /users/{id}:
    get:
      summary: Получить информацию о пользователе
      description: Возвращает данные пользователя по ID
      operationId: usersIdGET
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      summary: Полностью обновить информацию о пользователе
      description: Заменяет все данные пользователя
      operationId: usersIdPUT
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    patch:
      summary: Частично обновить информацию о пользователе
      description: Обновляет только переданные поля. Непереданные поля не меняются
      operationId: usersIdPATCH
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUserUpdate'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      summary: Удалить пользователя
      description: Удаляет пользователя по ID
      operationId: usersIdDELETE
      tags:
        - users
      parameters:
        - name: id
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
      responses:
        '204':
          $ref: '#/components/responses/UserDeleteSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/UserNotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        id:
          type: integer
          format: int64
          description: Уникальный идентификатор пользователя
          example: 1169
        username:
          type: string
          description: Логин пользователя
          minLength: 3
          maxLength: 20
          example: "user"
        email:
          type: string
          description: Адрес электронной почты. Должен соответствовать RFC 5321
          minLength: 5
          example: "user@gmail.com"
        firstName:
          type: string
          description: Имя пользователя
          maxLength: 30
          example: "Иван"
        lastName:
          type: string
          description: Фамилия пользователя
          maxLength: 31
          example: "Иванов" 
        address:
          type: object
          description: Адрес проживания пользователя
          properties:
            country:
              type: string
              description: Страна
              example: "Россия" 
            city:
              type: string
              description: Город
              example: "Санкт-Петербург"
            street:
              type: string
              description: Улица
              example: "Чайковского"
            house:
              type: string
              description: Дом/корпус
              example: "180"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          format: int32
          description: Возраст пользователя
          minimum: 0   
          maximum: 120
          example: 21
        isEmployee:
          type: boolean
          default: true
          description: Флаг принадлежности пользователя к компании. true — сотрудник, false — внешний пользователь
        accountStatus:  
          type: string
          description: Статус аккаунта. active — активен, inactive — неактивен, suspended — временно заблокирован
          default: active
          enum:
            - active 
            - inactive
            - suspended
    
    CreateUser:
      type: object
      required:
        - username
        - email
        - firstName
        - lastName
        - address
        - age
        - isEmployee
        - accountStatus
      properties:
        username:
          type: string
          description: Логин пользователя
          minLength: 3
          maxLength: 20
          example: "alex"
        email:
          type: string
          description: Адрес электронной почты. Должен соответствовать RFC 5321
          minLength: 5
          example: "alex30@mail.ru"
        firstName:
          type: string
          description: Имя пользователя
          maxLength: 30
          example: "Александр"
        lastName:
          type: string
          description: Фамилия пользователя
          maxLength: 31
          example: "Петров"
        address:
          type: object
          description: Адрес проживания пользователя
          properties:
            country:
              type: string
              description: Страна
              example: "Россия" 
            city:
              type: string
              description: Город
              example: "Москва"
            street:
              type: string
              description: Улица
              example: "Ленина"
            house:
              type: string
              description: Дом/корпус
              example: "39А"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          format: int32
          description: Возраст пользователя
          minimum: 0   
          maximum: 120
          example: 30
        isEmployee:
          type: boolean
          description: Флаг принадлежности пользователя к компании. true — сотрудник, false — внешний пользователь
          example: false
          default: true
        accountStatus:
          type: string
          description: Статус аккаунта. active — активен, inactive — неактивирован, suspended — временно заблокирован
          default: active
          enum:
            - active
            - inactive
            - suspended

    PartialUserUpdate:
      type: object
      properties:
        username:
          type: string
          description: Логин пользователя
          minLength: 3
          maxLength: 20
          example: "user"
        email:
          type: string
          description: Адрес электронной почты. Должен соответствовать RFC 5321
          minLength: 5
          example: "user@gmail.com"
        firstName:
          type: string
          description: Имя пользователя
          maxLength: 30
          example: "Иван"
        lastName:
          type: string
          description: Фамилия пользователя
          maxLength: 31
          example: "Иванов" 
        address:
          type: object
          description: Адрес проживания пользователя
          properties:
            country:
              type: string
              description: Страна
              example: "Россия" 
            city:
              type: string
              description: Город
              example: "Санкт-Петербург"
            street:
              type: string
              description: Улица
              example: "Чайковского"
            house:
              type: string
              description: Дом/корпус
              example: "180"
          required:
            - country
            - city
            - street
            - house
        age:
          type: integer
          format: int32
          description: Возраст пользователя
          minimum: 0   
          maximum: 120
          example: 21
        isEmployee:
          type: boolean
          default: true
          description: Флаг принадлежности пользователя к компании. true — сотрудник, false — внешний пользователь
        accountStatus:  
          type: string
          description: Статус аккаунта. active — активен, inactive — неактивен, suspended — временно заблокирован
          default: active
          enum:
            - active 
            - inactive
            - suspended

    error:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Код ошибки
          example: 405
        message:
          type: string
          description: Сообщение об ошибке
          example: "Данный метод не поддерживается"
 
  responses:
    UserListSuccess:
      description: Список пользователей успешно получен
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/User'

    Success:
      description: Данные успешно получены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserCreationSuccess:
      description: Пользователь успешно создан
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserUpdateSuccess:
      description: Данные пользователя успешно обновлены
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'

    UserDeleteSuccess:
      description: Пользователь успешно удален

    UserNotFound:
      description: "Не найден ресурс"
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                description: Код ошибки
                type: integer
                format: int32
                example: 404
              message:
                description: Сообщение об ошибке
                type: string
                example: "Не найден ресурс"

    Unauthorized:
      description: "Неавторизованный доступ"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            code: 401
            message: "Неавторизованный доступ"
            
    Conflict:
      description: "Конфликт при обновлении данных пользователя"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            code: 409
            message: "Конфликт при обновлении данных пользователя"

    MethodNotAllowed:
      description: "Данный метод не поддерживается"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            code: 405
            message: "Данный метод не поддерживается"

    ServerError:
      description: "Ошибка сервера"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example: 
            code: 500
            message: "Ошибка сервера"
                
    UnprocessableEntity:
      description: "Невозможно обработать содержимое запроса"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example: 
            code: 422
            message: "Невозможно обработать содержимое запроса"

  securitySchemes:
    api_key:
      type: apiKey
      name: Token
      in: header

tags:
  - name: users
    description: Операции с пользователями